.head {
	position: relative;
}

#head-pic {
 	height: 100vh;
  	width: 100%;
  	object-fit: fill;
}

.content {
	margin: 10px;
}

#player {
	height: 0px; width: 0px;
}

.break {
	/*height: 1000px;*/
}

#head-text {
	position: absolute;
	left: 10%;
	bottom: 15%;
	z-index: 1;
	font-family: serif;
	font-size: 50px;
	color: white;
	background-color: black;
	opacity: 0.75;
}

#text {
	font-size: 50px;
}

a:visited {
	color: #5555ff;
}

body {
	background-color: #000;
	color: white;
	margin-top: 0;
	overflow-x: hidden;
}
